<div class="Customer">
    <span class="customerLabel">{{ customer.name }}</span>
    <span class="productLabel">{{ customer.product.name }}</span>
    <div>
        <span ng-show="!isServed">Queue Time: {{ days }} : days, {{ hours }} : hours, {{ minutes }} : minutes, {{ seconds }} : seconds </span>
        <span ng-show="isServed">Served Time: {{ customer.servedTime }} </span>
    </div>
    <div>
        <button ng-click="remove()"ng-show="!isServed">Remove</button>
        <button ng-click="serve()" ng-show="!isServed">Served</button>
    </div>
</div>